extends header
block footer  
  div.footer
    button(id="startStop" type="button" class="btn btn-success  btn-lg" value=0 ) Старт
    a( href="/" id="toWorkPage" type="button" class="btn btn-success  btn-lg" role="button" aria-pressed="false" ) Работа
    a(href="/program" id="/toProgramPage" type="button" class="btn btn-success  btn-lg" role="button" aria-pressed="true" ) Программа
    a(href="/report" id="toReportPage" type="button" class="btn btn-success  btn-lg"  role="button" aria-pressed="true") Отчеты
  
    
  
    
          
            
            
          
